body {
    width: 100%;
    text-align: center;
    color: #333;
}

h1 {
    display: inline-block;
    padding: 20px;
    font-family: "Roboto Condensed";
    border-bottom: solid 1px #eee;
    margin: 30px auto;
}

a {
    transition: all .5s;
    color: #666;
    font-size: 30px;
    display: inline-block;
    padding: 0 5px;
    background: #fafafa;
    margin: 0 10px;
    border-radius: 2px;
    width: 50px;
    text-shadow: rgba(255,255,255,.7) 1px 0;
}

a:hover {
    color: #fff;
    background: #333;
}